# Importing Packages

In [6]:
import pandas as pd
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.impute import KNNImputer
import plotly.graph_objects as go
import numpy as np

# Loading Meteo data

In [2]:
#If local data
#put the folder of the dataset in the same folder as the code with the name meteo_data
Q1_path='paste the path for the file of the Q1 of 2022 from the meteo data'
Q2_path='paste the path for the file of the Q2 of 2022 from the meteo data'
Q3_path='paste the path for the file of the Q3 of 2022 from the meteo data'
Q4_path='paste the path for the file of the Q4 of 2022 from the meteo data'

Q1 = pd.read_csv(Q1_path)
Q2 = pd.read_csv(Q2_path)
Q3 = pd.read_csv(Q3_path)
Q4 = pd.read_csv(Q4_path)

In [ ]:
'''#If google drive
# Set up a project in the Google API Console and enable the Google Drive API.

# Install the PyDrive library using pip: `pip install PyDrive`

# Authenticate with your Google account.
gauth = GoogleAuth()
gauth.LocalWebserverAuth()  # Follow the instructions to authenticate with your Google account

# Step 4: Use the PyDrive client to retrieve the folder or file ID of the data you want to access.
drive = GoogleDrive(gauth)

# specify folders links
MeteoLink = "https://drive.google.com/drive/folders/1KznKVQzrCpRLgXyXsI2Yz0o2xzqO2CZo?usp=share_link"

# getting folders id
MeteoId = MeteoLink.split('/')[-1]

# getting folder by id
meteo = drive.CreateFile({'id': MeteoId})
meteo.FetchMetadata()

# getting files in the folders
MeteoFileList = drive.ListFile({'q': "'%s' in parents and trashed=false" % MeteoId}).GetList()
print (MeteoFileList[0])'''

# Cleaning Data

In [ ]:
#Identifying missing values of Q1

Q1MissingValuesCount = Q1.isnull().sum()
Q1MissingValuesRatio = Q1.isnull().mean()
print(Q1MissingValuesRatio)

In [ ]:
#dropping columns
Q1Drop = Q1.drop(['LC_DWPTEMP', 'LC_n','LC_RAD','LC_WINDDIR','LC_RAD60','LC_TEMP_QCL0','LC_TEMP_QCL1','LC_TEMP_QCL2'], axis=1)
hum = 'LC_HUMIDITY'
temp = 'LC_TEMP_QCL3'
rain = 'LC_RAININ'
dailyRain = 'LC_DAILYRAIN'
wind='LC_WINDSPEED'

In [ ]:
#filtering by location near the noise spots
id=Q1Drop['ID'].unique()
print(id)
Ids = ['LC-102', 'LC-117', 'LC-112', 'LC-118']
Q1DropIDfilter = Q1Drop.loc[Q1Drop['ID'].isin(Ids)]
print(Q1DropIDfilter['ID'].unique())

In [ ]:
# normalize the data
Q1DropIDfilter[[hum,temp,rain,dailyRain,wind]] = scaler.fit_transform(Q1DropIDfilter[[hum,temp,rain,dailyRain,wind]])

In [ ]:
# KNN transform
Q1DropIDfilter[[hum,temp,rain,dailyRain,wind]] = imputer.fit_transform(Q1DropIDfilter[[hum,temp,rain,dailyRain,wind]])

In [ ]:
#Identifying missing values of Q2

Q2MissingValuesCount = Q2.isnull().sum()
Q2MissingValuesRatio = Q2.isnull().mean()
print(Q2MissingValuesRatio)

In [ ]:
#identifying missing values in Q3

Q3MissingValuesCount = Q3.isnull().sum()
Q3MissingValuesRatio = Q3.isnull().mean()
print(Q3MissingValuesRatio)

In [ ]:
#identifying missing values in Q4
Q4MissingValuesCount = Q4.isnull().sum()
Q4MissingValuesRatio = Q4.isnull().mean()
print(Q4MissingValuesRatio)

In [3]:
#merging the four Qs without droping the missing data

year = pd.concat([Q1,Q2,Q3,Q4], ignore_index=True)
year.describe()

,LC_HUMIDITY,LC_DWPTEMP,LC_n,LC_RAD,LC_RAININ,LC_DAILYRAIN,LC_WINDDIR,LC_WINDSPEED,Year,Month,Day,Hour,Minute,LC_RAD60,LC_TEMP_QCL0,LC_TEMP_QCL1,LC_TEMP_QCL2,LC_TEMP_QCL3
count,5.231981e+06,5.231981e+06,5.231981e+06,5.231981e+06,5.231981e+06,5.231981e+06,5.231981e+06,5.231981e+06,5.546880e+06,5.546880e+06,5.546880e+06,5.546880e+06,5.546880e+06,5.269858e+06,5.231981e+06,5.201393e+06,5.201393e+06,5.201393e+06
mean,7.660651e+01,8.149915e+00,3.538116e+01,7.972292e+01,1.039102e-04,1.220736e-03,-5.725756e+00,2.855771e-01,2.022000e+03,6.631770e+00,1.572492e+01,1.150000e+01,2.500000e+01,7.966320e+01,1.277779e+01,1.276951e+01,1.277106e+01,1.260618e+01
std,1.854374e+01,5.455766e+00,6.690401e+00,1.445187e+02,1.007433e-03,5.104858e-03,8.731236e+01,5.642944e-01,4.412486e-03,3.414612e+00,8.798166e+00,6.922187e+00,1.707825e+01,1.417133e+02,7.625842e+00,7.620531e+00,7.619983e+00,7.391155e+00
min,1.200000e+01,-1.260000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.790000e+02,0.000000e+00,2.022000e+03,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-1.170000e+01,-1.170000e+01,-1.170000e+01,-1.140000e+01
25%,6.400000e+01,4.260000e+00,3.700000e+01,0.000000e+00,0.000000e+00,0.000000e+00,-5.600000e+01,0.000000e+00,2.022000e+03,4.000000e+00,8.000000e+00,5.750000e+00,1.000000e+01,0.000000e+00,7.380000e+00,7.370000e+00,7.370000e+00,7.387517e+00
50%,8.200000e+01,8.760000e+00,3.700000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,4.000000e-02,2.022000e+03,7.000000e+00,1.600000e+01,1.150000e+01,2.500000e+01,2.000000e+00,1.239000e+01,1.239000e+01,1.240000e+01,1.234910e+01
75%,9.200000e+01,1.228000e+01,3.800000e+01,8.500000e+01,0.000000e+00,0.000000e+00,2.800000e+01,3.100000e-01,2.022000e+03,1.000000e+01,2.300000e+01,1.725000e+01,4.000000e+01,8.800000e+01,1.789000e+01,1.789000e+01,1.789000e+01,1.766019e+01
max,9.900000e+01,5.978000e+01,4.700000e+01,1.017000e+03,3.800000e-01,1.540000e-01,1.800000e+02,1.370000e+01,2.023000e+03,1.200000e+01,3.100000e+01,2.300000e+01,5.000000e+01,9.140000e+02,6.000000e+01,4.311000e+01,4.319700e+01,4.216116e+01

In [4]:
#dropping columns
yearDrop = year.drop(['LC_DWPTEMP', 'LC_n','LC_RAD','LC_WINDDIR','LC_RAD60','LC_TEMP_QCL0','LC_TEMP_QCL1','LC_TEMP_QCL2'], axis=1)

In [11]:
#filtering by location near the noise spots
id=yearDrop['ID'].unique()
print(id)
Ids = ['LC-102', 'LC-117', 'LC-112', 'LC-118']
yearDropIDfilter = yearDrop.loc[yearDrop['ID'].isin(Ids)]
print(yearDropIDfilter['ID'].unique())

['LC-002' 'LC-003' 'LC-004' 'LC-005' 'LC-006' 'LC-008' 'LC-009' 'LC-010'
 'LC-011' 'LC-012' 'LC-013' 'LC-014' 'LC-016' 'LC-019' 'LC-021' 'LC-022'
 'LC-023' 'LC-028' 'LC-029' 'LC-030' 'LC-031' 'LC-032' 'LC-033' 'LC-034'
 'LC-039' 'LC-040' 'LC-042' 'LC-043' 'LC-044' 'LC-045' 'LC-046' 'LC-047'
 'LC-048' 'LC-049' 'LC-052' 'LC-053' 'LC-054' 'LC-056' 'LC-057' 'LC-059'
 'LC-060' 'LC-061' 'LC-062' 'LC-064' 'LC-065' 'LC-066' 'LC-067' 'LC-068'
 'LC-070' 'LC-071' 'LC-072' 'LC-073' 'LC-074' 'LC-075' 'LC-076' 'LC-077'
 'LC-078' 'LC-080' 'LC-081' 'LC-082' 'LC-084' 'LC-085' 'LC-087' 'LC-088'
 'LC-089' 'LC-091' 'LC-092' 'LC-094' 'LC-095' 'LC-096' 'LC-097' 'LC-099'
 'LC-100' 'LC-102' 'LC-104' 'LC-105' 'LC-106' 'LC-107' 'LC-108' 'LC-109'
 'LC-110' 'LC-111' 'LC-112' 'LC-113' 'LC-114' 'LC-116' 'LC-117' 'LC-118'
 'LC-119' 'LC-120' 'LC-121' 'LC-122' 'LC-123' 'LC-124' 'LC-125' 'LC-126'
 'LC-127' 'LC-128' 'LC-129' 'LC-130' 'LC-131' 'LC-132' 'LC-133' 'LC-134'
 'LC-135' 'LC-136' 'LC-137' 'LC-138']
['LC-102' 'LC-112' 'LC-117' 'LC-118']

In [7]:
yearDropIDfilter.head()

,DATEUTC,ID,LC_HUMIDITY,LC_RAININ,LC_DAILYRAIN,LC_WINDSPEED,Date,Year,Month,Day,Hour,Minute,LC_TEMP_QCL3
946080,2022-01-01 00:10:00,LC-102,90.0,0.0,0.0,0.0,2022-01-01,2022,1,1,0,10,13.23452
946081,2022-01-01 00:20:00,LC-102,89.0,0.0,0.0,0.0,2022-01-01,2022,1,1,0,20,13.20297
946082,2022-01-01 00:30:00,LC-102,89.0,0.0,0.0,0.0,2022-01-01,2022,1,1,0,30,13.20297
946083,2022-01-01 00:40:00,LC-102,89.0,0.0,0.0,0.0,2022-01-01,2022,1,1,0,40,13.20297
946084,2022-01-01 00:50:00,LC-102,89.0,0.0,0.0,0.0,2022-01-01,2022,1,1,0,50,13.20297

## Taking the mean by hour and ID

In [13]:
yearDropIDfilter['DATEUTC'] = pd.to_datetime(yearDropIDfilter['DATEUTC'])
yearDropIDfilterSort = yearDropIDfilter.sort_values(by='DATEUTC', ascending=True)
yearDropIDfilterIndex = yearDropIDfilterSort.set_index('DATEUTC')

C:\Users\Public\Documents\Wondershare\CreatorTemp\ipykernel_15832\1197818847.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yearDropIDfilter['DATEUTC'] = pd.to_datetime(yearDropIDfilter['DATEUTC'])

In [14]:
yearDropIDfilterIndex.head()

,ID,LC_HUMIDITY,LC_RAININ,LC_DAILYRAIN,LC_WINDSPEED,Date,Year,Month,Day,Hour,Minute,LC_TEMP_QCL3
DATEUTC,,,,,,,,,,,,
2022-01-01 00:10:00,LC-102,90.0,0.0,0.0,0.00,2022-01-01,2022,1,1,0,10,13.23452
2022-01-01 00:10:00,LC-112,91.0,0.0,0.0,0.04,2022-01-01,2022,1,1,0,10,13.07060
2022-01-01 00:10:00,LC-117,87.0,0.0,0.0,0.00,2022-01-01,2022,1,1,0,10,13.11754
2022-01-01 00:10:00,LC-118,91.0,0.0,0.0,0.11,2022-01-01,2022,1,1,0,10,13.14485
2022-01-01 00:20:00,LC-102,89.0,0.0,0.0,0.00,2022-01-01,2022,1,1,0,20,13.20297

In [17]:

yearDropIDfilterIndex = yearDropIDfilterIndex.resample('1H').agg({temp: 'mean', hum: 'mean', wind: 'mean', rain: 'mean', dailyRain: 'mean'})

In [20]:
yearDropIDfilterIndex.head()

,LC_TEMP_QCL3,LC_HUMIDITY,LC_WINDSPEED,LC_RAININ,LC_DAILYRAIN
DATEUTC,,,,,
2022-01-01 00:00:00,13.131833,89.350000,0.042000,0.000000,0.0
2022-01-01 01:00:00,13.129184,88.458333,0.063333,0.000000,0.0
2022-01-01 02:00:00,12.927130,88.291667,0.026667,0.000125,0.0
2022-01-01 03:00:00,12.800749,88.041667,0.027083,0.000000,0.0
2022-01-01 04:00:00,12.524946,87.666667,0.028333,0.000000,0.0

In [21]:
yearDropIDfilterIndex.to_csv('yearMeanByHour&ID.csv', index=True)

## Imputing the missing values with KNN

In [ ]:
# create an instance of the StandardScaler
scaler = StandardScaler()
# normalize the data
yearDropIDfilter[[hum,temp,rain,dailyRain,wind]] = scaler.fit_transform(yearDropIDfilter[[hum,temp,rain,dailyRain,wind]])

In [ ]:
# KNN transform
yearDropIDfilter[[hum,temp,rain,dailyRain,wind]] = imputer.fit_transform(yearDropIDfilter[[hum,temp,rain,dailyRain,wind]])

In [ ]:

# convert the imputed data back to original scale
yearDrop[[hum,temp,rain,dailyRain,wind]] = scaler.inverse_transform(yearDrop[[hum,temp,rain,dailyRain,wind]])

In [ ]:
# Saving the dataset of the year for the 4 stations in namsestrat with humidity, temperature, wind, rain and daily rain

print(yearDrop)
yearDrop.to_csv('YearProcessed.csv', index=True)

## Checking variance over time among the 4 stations

In [ ]:
# Step 1: Calculate the mean temperature, humidity, and wind for each date
mean_values = yearDrop.groupby('Date').mean()

# Step 2: Calculate the variance of temperature, humidity, and wind for each date
variance_values = yearDrop.groupby('Date').var()

# Step 3: Plot the variances over time
plt.plot(variance_values.index, variance_values[temp], label='Temperature Variance')
plt.plot(variance_values.index, variance_values[hum], label='Humidity Variance')
plt.plot(variance_values.index, variance_values[wind], label='Wind Variance')
plt.plot(variance_values.index, variance_values[rain], label='Rain Variance')
plt.plot(variance_values.index, variance_values[dailyRain], label='Daily rain Variance')


plt.xlabel('Date')
plt.ylabel('Variance')
plt.title('Variance of Weather Measurements')
plt.legend()
plt.show()

In [ ]:
yearMissingValuesRemoved = year.dropna()
print(yearMissingValuesRemoved.isnull().sum())

In [ ]:
plt.scatter(yearMissingValuesRemoved['Date'],yearMissingValuesRemoved['LC_TEMP_QCL0'], s=5)
plt.xlabel('Date')
plt.ylabel('TEMP_QCL0')
plt.show()

In [ ]:
plt.scatter(yearMissingValuesRemoved['Date'],yearMissingValuesRemoved['LC_TEMP_QCL1'], s=5)
plt.xlabel('Date')
plt.ylabel('TEMP_QCL1')
plt.show()

In [ ]:
plt.scatter(yearMissingValuesRemoved['Date'],yearMissingValuesRemoved['LC_TEMP_QCL2'], s=5)
plt.xlabel('Date')
plt.ylabel('TEMP_QCL2')
plt.show()

In [ ]:
plt.scatter(yearMissingValuesRemoved['Date'],yearMissingValuesRemoved['LC_TEMP_QCL3'], s=5)
plt.xlabel('Date')
plt.ylabel('TEMP_QCL3')
plt.show()

In [ ]:
#filtering by location near the noise spots
id=yearMissingValuesRemoved['ID'].unique()
print(id)
Ids = ['LC-102', 'LC-117', 'LC-112', 'LC-118']
FilteredByLocation = yearMissingValuesRemoved.loc[yearMissingValuesRemoved['ID'].isin(Ids)]
print(FilteredByLocation['ID'].unique())

In [ ]:
temp = 'LC_TEMP_QCL3'
df_grouped = FilteredByLocation.groupby(['ID', 'Date'])[temp].mean().reset_index()

# create a pivot table with ID as rows, date as columns, and temperature as values
df_pivot = df_grouped.pivot(index='Date', columns='ID', values=temp)

# plot the data
df_pivot.plot(kind='line')
#plt.xlim(['2022-02-01','2022-03-01'])
plt.xlabel('Date')
plt.ylabel('Temperature')
plt.title('Temperature by ID and Date')
plt.show()

In [ ]:
df_grouped1 = yearMissingValuesRemoved.groupby(['ID', 'Date'])[temp].mean().reset_index()

# create a pivot table with ID as rows, date as columns, and temperature as values
df_pivot1 = df_grouped1.pivot(index='Date', columns='ID', values=temp)

# plot the data
df_pivot1.plot(kind='line')
#plt.xlim(['2022-02-01','2022-03-01'])
plt.xlabel('Date')
plt.ylabel('Temperature')
plt.title('Temperature by ID and Date')
plt.legend('None')
plt.show()

In [ ]:
# Assuming your DataFrame is called df
fig = go.Figure()

# Create a scatter plot for each ID
for id, data in yearMissingValuesRemoved.groupby('ID'):
    fig.add_trace(go.Scatter(x=data['Date'], y=data[temp], name=id))

# Add x and y axis labels
fig.update_xaxes(title='Date')
fig.update_yaxes(title='Temperature')
fig.update_layout(showlegend=False)
# Set the title
fig.update_layout(title='Temperature vs. Date for all IDs')

# Show the plot
fig.show()

In [ ]:
Q1MissingValuesRemoved = Q1.dropna()
Q2MissingValuesRemoved = Q2.dropna()
Q3MissingValuesRemoved = Q3.dropna()
Q4MissingValuesRemoved = Q4.dropna()

In [ ]:
plt.scatter(Q1MissingValuesRemoved['Date'],Q1MissingValuesRemoved['LC_HUMIDITY'],s=5)
plt.xlabel('Date')
plt.ylabel('Humidity')
plt.show()